<!DOCTYPE html>
<html>
<head>
    <title>Library Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Library Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_resource') }}">Add Resource</a></li>
                <li><a href="{{ url_for('categories') }}">Categories</a></li>            </ul>
        </nav>
    </header>
    <main class="main-grid">
        <div class="sidebar">
            <h2>Categories</h2>
            <ul>
                <li><a href="{{ url_for('index') }}">All Categories</a></li>
                {% for category in categories %}
                <li>
                    <a href="{{ url_for('category', category_id=category._id) }}">{{ category.name }}</a>

                </li>
                {% endfor %}
            </ul>

            
        </div>

        
        <div class="content">
            <div class="container">
                <div class="text">I am looking for:</div>
                <div class="search-container">
                    <form action="{{ url_for('index') }}" method="get">
                        <input type="text" class="form-control" name="search" placeholder="Search..." value="{{ request.args.get('search', '') }}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="resource-grid">
                {% for resource in resources %}
                {% if request.args.getlist('parameters') %}
                {% if resource.parameters %}
                {% set resource_param_set = resource.parameters|makeset %}
                {% set selected_param_set = request.args.getlist('parameters')|makeset %}
                {% if resource_param_set.issuperset(selected_param_set) %}
                {% include 'resource_card.html' %}
                {% endif %}
                {% endif %}
                {% else %}
                {% include 'resource_card.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="filter">
            
            <h3>Filters</h3>
            <form>
                {% for parameter in parameters %}
                <div>
                    <input type="checkbox" id="{{ parameter.name }}" name="parameters" value="{{ parameter.name }}">
                    <label for="{{ parameter.name }}">{{ parameter.name }}</label>
                </div>
                {% endfor %}
                <button type="submit">Apply Filters</button>
            </form>
        </div>
    </main>
</body>
</html>
